bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
.vs/
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
packages/
*.nupkg
*.snupkg


.idea/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/

TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

*.log

*.tmp
*.temp
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db